
/* --- Global styles --- */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
@import url('https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css');
*{
    margin: 0;
    padding: 0;
}
:root {
    --wht-color: aliceblue;
    --blue-color: #191ccb;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e8f2ff;
    font-family: "source sans 3", sans-serif;
}
h1, h2, h3{
    font-family: "IBM Plex Sans", sans-serif;
}
h1{
    text-align: center;
    margin-bottom: 1rem;
}
.container{
    max-width: 1300px;
    margin: 0 20px;
}
.content{
    margin-top: 4rem;
}




/* --- Header style --- */
.header{
    background-color: var(--wht-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    gap: 20px;
    width: 100%;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 600;
    box-shadow: 0px 5px 5px #1a1a1a33;
}
.header nav{
    margin-right: 30px;
}
.header a{
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
    font-weight: 900;
}
.header a:hover{
    text-decoration: underline;
    color: var(--blue-color);
    text-decoration: none;
}
header{
    margin-left: 30px;
}
nav{
    display: flex;
    flex-direction: row;
    gap: 20px;
}




/* --- Album's style --- */
.book-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.photo-album-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 10px;
    background-color: #2c2c2c;
    border: 10px solid #1a1a1a;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    gap: 10px;
    position: relative;
    border-radius: 5px;
}
.photo-album-grid::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    transform: translateX(-50%);
    width: 5px;
    background-color: #1a1a1a;
    z-index: 10;
    border-radius: 2px;
}
.photo-album-grid a.full-link {
    display: block; 
    text-decoration: none; 
    color: inherit;
}
.photo-slot {
    background-color: #4b4b4b; 
    padding: 15px; 
    border-radius: 2px;
    color: white; 
    display: grid;
    grid-template-rows: auto 1fr auto; 
    grid-template-areas: 
        "img"
        "titre"
        "album";
    align-items: center;
    text-align: center;
    gap: 10px;
}
.photo-slot img { 
    display: block;
    width: 100%;
    height: auto;
    aspect-ratio: 46/61;
    object-fit: cover;
    box-sizing: border-box;
    border-radius: 2px;
    filter: blur(3px);
    transition: filter 0.3s ease-in-out;
}
.photo-slot img:hover {
    filter: blur(0);
    transition: filter 0.3s ease-in-out;
}
.photo-slot .album-cover {
    overflow: hidden;
    grid-area: img;
}




/* --- Photo's style --- */
.filtres{
    padding: 20px 0 0 20px;
}
.galery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}
.item{
    background-color: var(--wht-color);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "img"
        "titre"
        "album";
    justify-content: center;
    padding: 15px;
    gap: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
}
.item > img{
    width: 100%;
    height: auto;
    display: block;
    aspect-ratio: 46/61;
    object-fit: cover;
    grid-area: img;
}
.item h3{
    grid-area: titre;
    text-align: center;
    font-family: "Caveat", cursive;
    font-size: 3rem;
}
.item .info-photo{
    grid-area: album;
    font-size: 0.7rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;     
}
.overlay {
    display: none;
    position: fixed; 
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.overlay.active {
    display: flex;
}
#overlayImage {
    max-width: 90%;
    max-height: 80vh;
    display: block;
    margin: 20px auto;
}
.close-btn {
    position: absolute;
    top: 20px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}
.close-btn:hover {
    color: #bbb;
}
#overlayCaption {
    color: white;
    font-size: 18px;
    margin-top: 10px;
}